/* Main Content Section */
.content-main {
    padding: 20px;
    background-color: #f8f9fa;
    margin-left: 20px;
    background: border-box;
  }
  
  .content-header {
    margin-bottom: 20px;
  }
  
  .content-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Card Styles */
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  /* Form Styles */
  .form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .input-upload {
    margin-bottom: 1rem;
  }
  
  .input-upload img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0.75rem 1.25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  }
  
  .btn-primary {
    background-color: #000000;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
  }
  
  .btn-primary:hover {
    background-color: #e70b0b;
  }
  
  .btn-danger {
    background-color: #fd0019;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table thead th {
    background-color: #f1f1f1;
    color: #333;
    padding: 1rem;
    text-align: left;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .table tbody td {
    padding: 1rem;
    vertical-align: middle;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Pagination Styles */
  .pagination-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination-container p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .pagination-container a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .pagination-container a:hover {
    text-decoration: underline;
  }
  